body {
  background-color: grey;
}
* {
  box-sizing: border-box;
}
.wrap {
  width: 400px;
  margin:auto;
  height: 400px;
  background: black;
  padding: 10px;
}
input[type=text]{
    width:100%;
    padding:10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}
input:hover[type=button]{
  color: blue;
}

input[type=button]{
  width: 92px;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
}
#del {
  width:99%;
}
